<p id="notice"><%= notice %></p>

<div class="container">
    <h2 class="h2">Pinjams</h2>
  <table class="table table-light table-striped text-center">
    <thead class="bg-danger text-white">
      <tr>
        <th>Nama</th>
        <th>Phone</th>
        <th>Alamat</th>
        <th colspan="2">Book</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>
  <tbody>
    <% @pinjams.each do |pinjam| %>
      <tr>
        <td><%= pinjam.nama %></td>
        <td><%= pinjam.phone %></td>
        <td><%= pinjam.alamat %></td>
        <td><%= pinjam.judul_buku %></td>
        <td><%= link_to 'Show', pinjam %></td>
        <td><%= link_to 'Edit', edit_pinjam_path(pinjam) %></td>
        <td><%= link_to 'Destroy', pinjam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Pinjam', new_pinjam_path, class: 'btn btn-outline-primary text-dark', role: 'button' %>
<%= link_to 'Back', welcome_index_path, class: 'btn btn-outline-danger text-dark', role: 'button' %>
</div>