<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= value %>
      </div>
<% end %>
<h1>Welcome</h1>

<% if logged_in? %>
<h1>You are Logged In, <%= current_user.username %></h1>

<%= link_to "Log out", logout_path, method: "delete" %>
<%end%>

<%= link_to "Register", new_user_path, class: "btn btn-primary text-light" %>
<%= link_to "Login", login_path, class: "btn btn-danger text-light" %>